*{
    background-color: #242424;
    color: white;
}

#contenitoreCalcolatrice {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: rgb(117, 117, 117);
  margin: 4% auto;
  padding: 20px;
}

.contenitoreRisultato {
  background-color: rgb(0, 0, 0);
  color: white;
  height: 100px;
  width: 90%;
  padding: 20px;
  font-size: 90px;
  text-align: end;
  font-family: "Bitcount Single", system-ui;
  margin: 0 auto;
}

.contenitoreOperandi {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: rgb(117, 117, 117);
  height: 500px;
  margin: 20px 0 40px 0;
}

.celleOperandi {
  background-color: rgb(15, 15, 15);
  margin: 10px;
  border-radius: 10px;
  padding: 35px;
  font-size: 30px;
  text-align: center;
}

.celleOperandi:hover{
  background-color: red;
  color: white; 
  cursor: pointer;
}