*{
    background-color: #242424;
    color: white;
}

#contenitoreCalcolatrice {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 600px;
  background-color: aqua;
  margin: 6% auto;
  padding: 20px;
}

.contenitoreRisultato {
  width: 100%;
  background-color: black;
  height: 100px;
}

.contenitoreOperandi {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  background-color: black;
  width: 100%;
  height: 500px;
  margin: 20px 0;
}

.celleOperandi {
  background-color: red;
  margin: 10px;
  border-radius: 10px;
}