*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.sfondo{
  height: 100vh;
  background-image: url(../wood_table_worn.webp);
  background-size: cover;
  background-repeat: no-repeat;

}

#contenitoreCalcolatrice {
  position: absolute;
  top: 6%;
  left: 30%;
  background-color: rgba(37, 37, 37, 0.829);
  padding: 20px;
  border-radius: 10px;
}

#contenitoreValori {
  display: flex;
}

.contenitoreRisultato {
  background-color: rgba(0, 0, 0, 0.723);
  color: white;
  font-size: 50px;
  text-align: end;
  font-family: "Bitcount Single", system-ui;
  margin: 15px 0px;
  padding: 10px 20px;
  line-height: 50px;
}

.contenitoreNumeri {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: 0 20px 0 0;
}

.contenitoreOperandi{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.celle {
  margin: 2px;
  border-radius: 10px;
  font-size: 24px;
  padding: 50px 50px;
}

.numero {
  background-color: rgba(109, 109, 109, 0.839);
}

.operandi{
  background-color: rgba(0, 0, 0, 0.503);
}

.operandi:last-child{
  background-color: rgba(255, 119, 0, 0.849);
}

.celle:hover{
  background-color: red;
  color: white; 
  cursor: pointer;
}

.celle:active{
  background-color: rgba(43, 43, 43, 0.973);
}