*{
    background-color: #242424;
    color: white;
}

#contenitoreCalcolatrice {
  width: 30%;
  background-color: rgb(117, 117, 117);
  margin: 3% auto;
  padding: 20px;
  border: 4px solid rgb(255, 3, 3);
}

#contenitoreValori {
  display: flex;
  width: 85%;
  margin: 0 auto;
}

.contenitoreRisultato {
  background-color: rgb(0, 0, 0);
  color: white;
  width: 92%;
  font-size: 90px;
  text-align: end;
  font-family: "Bitcount Single", system-ui;
  margin: 15px auto;
  padding: 0px 20px;
}

.contenitoreNumeri {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  background-color: rgb(117, 117, 117);
}

.contenitoreOperandi{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  background-color: rgb(117, 117, 117);
}

.celle {
  margin: 10px;
  border-radius: 10px;
  padding: 40px;
  font-size: 30px;
}

.numero {
  background-color: rgb(15, 15, 15);
}
.operandi{
  background-color: rgb(255, 119, 0);
}
.operandi:last-child{
  background-color: red;
}

.celle:hover{
  background-color: red;
  color: white; 
  cursor: pointer;
}

.celle:active{
  background-color: rgba(43, 43, 43, 0.973);
}